<!doctype html>
<html lang="en">
  <head>
    <title>Circa 1995</title>
  </head>
  <body>
    <h1>UNDER CONSTRUCTION</h1>
    <p>There have been <%= @hits %> hit(s) to this page.</p>
  </body>
</html>

